<!DOCTYPE html>
<html lang="en">
{{>meta}}
<body>
    <div class="container-fullwidth">
        {{>navbar}}
        <div class="container mt-5 text-center">
            <p class="display-4 font-weight-bold">Hey, I'm <span style="white-space: nowrap;">Kumar Gaurav</span></p>
            <p class="h4 font-weight-normal">creator of this site.</p>
            <p class="h2 font-weight-normal">I created this site just for fun. And to list in my résumé.</p>
            <hr class="mt-5 mb-5"/>
            <div>
                <a href="mailto:kmrgrv119@gmail.com"       type="button" class="btn btn-outline-info mx-1">E-mail</a>
                <a href="https://github.com/KmrGaurav"     type="button" class="btn btn-outline-info mx-1" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/KrGv" type="button" class="btn btn-outline-info mx-1" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div> <!-- Container Fullwidth -->
    {{>footer}}
    </body>
</html>