<!DOCTYPE html>
<html lang="en">
{{>meta}}
<body>
    <div class="container-fullwidth">
        {{>navbar}}
        <div class="container">
            <!-- Search bar -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- Search bar -->
            <!-- Weather Info Card -->
            <div class="collapse" id="WeatherInfo">
                <div class="card bg-light">
                    <div class="card-body">
                        <div>
                            <span id="title-1" style="font-weight: bolder;"></span>
                            <span id="message-1"></span>
                        </div>
                        <div>
                            <span id="title-2" style="font-weight: bolder;"></span>
                            <span id="message-2"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Weather Info Card -->
        </div> <!-- Container -->
    </div> <!-- Container Fullwidth -->
    {{>footer}}
    
    <!-- Weather fetching script -->
    <script src="./js/main.js"></script>
</body>
</html>