<!DOCTYPE html>
<html lang="en">
{{>meta}}

<body>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="glass">
        <div> {{!-- Added just to attach footer to bottom. --}}
            {{>header}}
            <main>
                <div class="nut1"></div>
                <div class="nut2"></div>
                <div class="nut3"></div>
                <div class="nut4"></div>

                <input type="checkbox" class="setting-input" id="cog-id">
                <label class="setting-icon-cog" for="cog-id">
                    <i class="icon-cog icon-4x"></i>
                </label>
                <div class="content">
                    <!-- Just to split from icon -->
                    <div class="settings-collapse" id="Setting">
                        <fieldset class="settings-form">
                            <div>
                                <legend>Units</legend>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="setting-units" id="units-metric-2"
                                    value="metric" checked>
                                <label class="form-check-label" for="units-metric-2">Metric</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="setting-units" id="units-imperial-2"
                                    value="imperial">
                                <label class="form-check-label" for="units-imperial-2">Imperial</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="setting-units" id="units-standard-1"
                                    value="standard">
                                <label class="form-check-label" for="units-standard-1">Standard</label>
                            </div>
                        </fieldset>
                    </div>

                    <!-- Search bar -->
                    <form id="search-form" class="search-form">
                        <input id="search-query" class="search-form-input" type="search" placeholder="Location" aria-label="Search">
                        <button class="search-form-button">
                            <i class="icon-search icon-2x search-form-icon" type="submit"></i>
                        </button>
                    </form>
                    <!-- Search bar -->

                    <!-- Weather Info Card -->
                    {{!-- <div class="weather-info-collapse" id="WeatherInfo"> --}}
                        {{!-- <a href="#" id="message-child" class="weather-info-close-button">&times;</a> --}}
                        <div id="message-parent" class="weather-info">
                            <div>
                                <span id="title-1" style="font-weight: bolder;"></span>
                                <span id="message-1"></span>
                            </div>
                            <div>
                                <div>
                                    <span id="temp-title" style="font-weight: bolder;"></span>
                                    <span id="temp"></span>
                                </div>
                                <div>
                                    <span id="desc-title" style="font-weight: bolder;"></span>
                                    <span id="desc"></span>
                                </div>
                                <div>
                                    <span id="min-temp-title" style="font-weight: bolder;"></span>
                                    <span id="min-temp"></span>
                                </div>
                                <div>
                                    <span id="max-temp-title" style="font-weight: bolder;"></span>
                                    <span id="max-temp"></span>
                                </div>
                                <div>
                                    <span id="pressure-title" style="font-weight: bolder;"></span>
                                    <span id="pressure"></span>
                                </div>
                                <div>
                                    <span id="humidity-title" style="font-weight: bolder;"></span>
                                    <span id="humidity"></span>
                                </div>
                                <div>
                                    <span id="wind-speed-title" style="font-weight: bolder;"></span>
                                    <span id="wind-speed"></span>
                                </div>
                            </div>
                        </div>
                    {{!-- </div> <!-- Weather Info Card --> --}}

                </div> <!-- Just to split from icon -->
            </main> <!-- main -->
        </div>
        {{>footer}}
    </div> <!-- glass -->

    <!-- Weather fetching script -->
    <script src="./js/main.js"></script>
</body>

</html>