<footer class="footer">
    <p class="">Created by <strong style="white-space: nowrap;">Kumar Gaurav</strong> <span style="white-space: nowrap;">&copy; 2021</span></p>
    <a class="link" type="button" href="https://github.com/KmrGaurav/awesome-mausam" target="_blank">Source Code</a>
</footer>
