<header class="header">
    <h1 class="header-brand">Awesome Mausam</h1>
    
    <nav class="navigation">
        <a class="nav-link{{#if home }} nav-link-active{{/if}}" href="/">Home</a>
        <a class="nav-link{{#if about}} nav-link-active{{/if}}" href="/about">About</a>
    </nav>
</header>