/* *{
    margin: 0;
    padding: 0;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fullwidth {
    flex-grow: 1;
}

#message-parent {
    position: relative;
}

#message-child {
    position: absolute;
    top: 0px;
    right: 15px;
}

/* .container {
    position: static;
} */

/* #search-form {
    position: absolute;
} */